In [ ]:
import talib
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))
from src.analysis import TechnicalAnalysis

In [9]:
path = '../data/yfinance_data/AAPL_historical_data.csv'
df = pd.read_csv(path)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [10]:
tean = TechnicalAnalysis(df)

ValueError: could not convert string to float: '1980-12-12'

In [8]:
tean.sma(20)

array([         nan,          nan,          nan, ..., 224.63349991,
       225.01450043, 225.11700058], shape=(10998,))

In [ ]:
ta = TechnicalAnalysis(df)

# Add indicators
ta.add_rsi()
ta.add_macd(12,26,9)

# Get final DataFrame
result_df = ta.get_data()

# View the result
result_df.tail()